{% extends "layout.html" %}
{% load static %}

{% block title %}
    {{ block.super }} Login
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static "chatme/css/login.css" %}">
{% endblock %}

{% block content %}
        <div class="form-container">
        <h2>Login</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form %}
                <p>
                    {{ field.label_tag }}<br>
                    {{ field }}
                    {% if field.help_text %}
                        <small style="color: grey">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </p>
            {% endfor %}
            <button type="submit">Login</button>
        </form>
        <div class="form-links">
            <p>Don't have an account? <a href="{% url 'chat:register' %}">Register here</a></p>
            <p><a href="{% url 'chat:index' %}">Back to Home</a></p>
        </div>
    </div>
{% endblock  %}
