{% extends "layout.html" %}
{% load static %}

{% block title %}
    {{ block.super }} Register
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static "chatme/css/register.css" %}">
{% endblock %}

{% block content %}
    <div class="form-container">
        <h2>Register</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Register</button>
        </form>
        <div class="form-links">
            <p>Already have an account? <a href="{% url 'chat:login' %}?next={{ request.path }}">Login here</a></p>
            <p><a href="{% url 'chat:index' %}">Back to Home</a></p>
        </div>
    </div>
{% endblock  %}
