{% extends 'layout.html' %}
{% load static %}

{% block title %}
    {{ block.super }} Chat Room: {{ room_name }}
{% endblock %}



{% block content %}
<div id="chat-container">
        <div id="chat-header">
            <h1>Chat Room: {{ room_name }}</h1>
            <div class="user-info-header">
                Logged in as: <strong>{{ username }}</strong> | <a href="{% url 'chat:logout' %}">Logout</a>
                <br><a href="{% url 'chat:index' %}">Back to Rooms</a>
            </div>
        </div>
        <div id="main-chat-area">
            <ul id="chat-log">
                {% for msg in messages %}
                    <li class="{% if msg.author.username == username %}message-sent{% else %}message-received{% endif %}">
                        <div class="message-meta">
                            <span class="message-username">{{ msg.author.username }}</span>
                            <span class="message-timestamp">{{ msg.timestamp|date:"H:i" }}</span>
                        </div>
                        {{ msg.content }}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div id="chat-controls">
            <input id="chat-message-input" type="text" placeholder="Type your message...">
            <input id="chat-message-submit" type="button" value="Send">
        </div>
    </div>
    <aside id="user-list-sidebar">
        <h3>Online Users (<span id="online-users-count">{{ online_users_list|length }}</span>)</h3>
        <ul id="online-users-list">
            {% for online_username in online_users_list %}
                <li {% if online_username == username %}class="is-me"{% endif %}>{{ online_username }}</li>
            {% endfor %}
        </ul>
    </aside>
    {{ room_name|json_script:"room-name" }}
    {{ username|json_script:"user-username" }}

{% endblock %}

{% block javascript %}
    <script src="{% static "chatme/js/chat/room.js" %}"></script>
{% endblock %}


{% block css %}
    <link rel="stylesheet" href="{% static "chatme/css/room.css" %}">
{% endblock %}
